
{{#each articles}}
        <div class="row">
        <div class="articles">
            <a href="{{link}}">{{title}}</a>
            <p>{{summary}}</p>
        </div>
        <div class="notes"></div>
        </div>
    {{/each}}
    


